extends layout


block content
  include author
  ul.unstyledList.articleList
    each article in articles
      if article.metadata.banner
        li(style="background-image: url('" + env.plugins.MarkdownPage.resolveLink(article, article.metadata.banner, env.config.baseUrl) + "');")
          a(href=article.url)= article.metadata.shortName
      else
        li
          a(href=article.url)= article.metadata.shortName

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    //else
    //  a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »



